@import "vars", "fonts", "normalize";

.html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
    /*border-box наследуется везде*/
}

body {
    /*Все новые элементы будут наследовать общее семейство и стиль шрифтов*/
	font-family: $font_family;
	font-style: normal;
	background: $bg-color;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
div {
	display: block;
}
.title {
	text-align: center;
	word-break: break-word;
	font-family: $font_family;
	font-style: normal;
	font-weight: $font-weight-light;
	font-size: $font_100;
	margin-top: 100px;
	letter-spacing: -2.5px;
	color: $color-light-gray;
}
.todo-list {
	position: relative;
	width: 80%;
	background: $color-white;
	box-shadow: $box_shadow;
	margin: 0 auto;
	min-width: 480px;
	max-width: 562px;
	&:before {
		content: ' ';
		position: absolute;
		top: 100%;
		height: $height-list-before;
		left: 2px;
		right: 2px;
		z-index: -1;
		background-color: $color-white;
		box-shadow: $box_shadow;
	}
	&:after {
		content: ' ';
		position: absolute;
		top: 100%;
		height: $height-list-after;
		left: 4px;
		right: 4px;
		z-index: -2;
		background-color: $color-white;
		box-shadow: $box_shadow;
	}
}
.add-list {
	border-bottom: $border_type $color-light-gray;
	width: 562px;
	height: $height-add-list;
	button {
		width: 28px;
		height: 16px;
		padding: 27px 17px 23px;
		background-image: url(/img/arrow.svg);
		background-color: $color-type-transparent;
		background-repeat: no-repeat;
		background-position: center;
		border: $type-visibility-none;
	}
	input {
		font-family: $font_family;
		height: 21px;
		width: 86%;
		font-size: $font_24;
		font-style: italic;
		font-weight: $font-weight-normal;
		line-height: 21px;
		letter-spacing: -0.6px;
		padding: 24.5px 0px 19.5px;
		border: 0;
		outline: $type-visibility-none;
	}
	::placeholder {
		color: $color-light-gray;
	}
}
.task {
	flex-direction: inherit;
	border-bottom: $border_type $color-light-gray;
	cursor: $cursor-pointer;
	display: flex;
	flex-grow: 1;
	align-items: center;
	min-height: 59px;
	overflow: hidden;
	&:hover {
		background: $color-gray-98;
		.delete-task {
			opacity: 1;
		}
	}
	&-text {
		font-family: $font_family;
		padding: 12px 0;
		align-self: center;
		font-weight: $font-weight-normal;
		color: $color-gray-dark;
		flex-grow: 1;
		font-size: $font_24;
		word-break: break-word;
	}
	input[type=checkbox] {
		height: 41px;
		min-width: 41px;
		align-self: center;
		margin: 0 10px;
		border: $border_type $color-light-gray;
		border-radius: 50%;
		cursor: $cursor-pointer;
		appearance: $type-visibility-none;
		&:checked {
			background-image: url(/img/checkMark.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
			border: $border_type $color-green;
			&~.task-text {
				color: $color-light-gray;
				text-decoration: line-through;
			}
		}
	}
	&-counter {
		font-family: $font_family;
		font-weight: $font-weight-normal;
	}
}
.delete-task {
	background-image: url(/img/cross.svg);
	background-color: $color-type-transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: $height-with-delete-task;
	width: $height-with-delete-task;
	margin: 14px 3px;
	padding: 0px;
	border: 0;
	opacity: 0;
	&:focus {
		opacity: 1;
	}
}
.list-footer {
	height: 40px;
	color: $color-gray;
	font-size: $font_14;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}
.statuses {
	display: flex;
	justify-content: space-around;
	padding: 12px 0;
	cursor: $cursor-pointer;
	margin-left: 50px;
	input[type="radio"]:checked+.status-text {
		border-color: $color-gray-purple;
	}
	input[type="radio"]:focus+.status-text {
		border-color: $color-gray-purple;
	}
}
.status-text {
	font-family: $font_family;
	border: $border_type $color-type-transparent;
	font-weight: $font-weight-normal;
	border-radius: 3px;
	padding: 2px 10px;
	margin: 0px 6px;
}
.status-item {
	width: 65px;
	margin-right: -80px;
	opacity: 0;
	cursor: $cursor-pointer;
}
.clear-text {
	font-family: $font_family;
	font-weight: $font-weight-normal;
	height: 25px;
	border: $type-visibility-none;
	color: $color-gray;
	background-color: $color-white;
}
