$bg-color: #F2F2F2;
$color-light-gray: #CCCCCC;
$color-white: #FFFFFF;
$color-light-gray: #E6E6E6;
$color-gray-98: #FAFAFA;
$color-gray-dark: #666666;
$color-green: #60C2B1;
$color-gray: #888888;
$color-gray-purple: #EBDFDF;
$color-type-transparent: transparent;

$font_family: "Roboto", sans-serif;
$font-weight-light: 100;
$font-weight-normal: 300;
$font_14: 14px;
$font_24: 24px;
$font_100: 100px;

$height-list-before: 6px;
$height-list-after: $height-list-before*2;
$height-add-list: $height-list-before*11;
$height-with-delete-task: $height-list-before*6;


$box_shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

$border_type: 1px solid;

$cursor-pointer: pointer;

$type-visibility-none: none;